@model AirCraftCreateDTO

@{ Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Add Aircraft"; }

<section>
    <div class="add-aircraft-management-container text-center mt-4">
        <!-- Title -->
        <h2 class="display-4 mb-4">Add Aircraft</h2>

        <!-- Aircraft Form -->
        <form class="add-aircraft-form" method="post" enctype="multipart/form-data">



            <!-- Upload Images (Up to 4) -->
            <div class="form-group">
                <label for="images" class="add-aircraft-label">Upload Images (Up to 4)<span class="text-danger">*</span></label>
                <input asp-for="@Model.Photos" class="form-control-file add-aircraft-input" id="images" name="images[]" multiple required>
            </div>

            <!-- Display Uploaded Images -->
            <div class="add-aircraft-uploaded-images-section">
                <div class="row">
                    <!-- Display up to 4 images -->
                    @for (int i = 0; i < 4; i++)
                    {
        <div class="col-md-3 mb-3">
            <div class="add-aircraft-uploaded-image-container">
                <img src="" alt="Uploaded Image" id="image-@i" class="img-fluid add-aircraft-uploaded-image">
                <button type="button" class="btn btn-danger add-aircraft-delete-image-btn" data-custom-value="image-@i">Delete</button>
            </div>
        </div>}
                </div>
            </div>

            <!--sgd-->

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.AircraftId" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.AircraftId" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet..AircraftId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.AircraftType" class="add-aircraft-label"></label>
                    <select asp-for="@Model.AirCraftDet.AircraftType" class="form-control add-aircraft-input" asp-items="@(ViewBag.AircraftTypes as List<SelectListItem>)"></select>
                    <span asp-validation-for="@Model.AirCraftDet.AircraftType" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.AirCraftPrice" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.AirCraftPrice" class="form-control add-aircraft-input" />

                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.RegistrationNumber" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.RegistrationNumber" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.RegistrationNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.Manufacturer" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.Manufacturer" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.YearOfManufacture" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.YearOfManufacture" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.YearOfManufacture" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.SeatingCapacity" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.SeatingCapacity" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.SeatingCapacity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.MaximumRange" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.MaximumRange" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet..MaximumRange" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.EngineId" class="add-aircraft-label"></label>
                    <select id="engineDropdown" class="form-control add-aircraft-input">
                        <option value="">Select an Engine</option>
                        @foreach (EngineModel current in ViewBag.Engines)
                        {
            <option value="@current.EngineId">@current.EngineType</option>}
                    </select>
                    <input type="hidden" id="selectedEngineIdField" asp-for="@Model.AirCraftDet.EngineId" />

                    <span asp-validation-for="@Model.AirCraftDet.EngineId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.MaxAllowedEngines" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.MaxAllowedEngines" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.MaxAllowedEngines" class="text-danger"></span>

                    <label asp-for="@Model.AirCraftDet.FuelCapacity" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.FuelCapacity" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.FuelCapacity" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.Weight" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.Weight" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.Weight" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.Length" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.Length" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.Length" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.Width" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.Width" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.Width" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.Height" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.Height" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.Height" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.SeatID" class="add-aircraft-label"></label>
                    <select id="seatDropdown" class="form-control add-aircraft-input">
                        <option value="">Select an Seat</option>
                        @foreach (SeatModel current in ViewBag.Seats)
                        {
            <option value="@current.SeatID">@current.SeatType</option>}
                    </select>
                    <input type="hidden" id="selectedseatIdField" asp-for="@Model.AirCraftDet.SeatID" />

                    <span asp-validation-for="@Model.AirCraftDet.SeatID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.MaxSeatesAllowed" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.MaxSeatesAllowed" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.AirCraftDet.MaxSeatesAllowed" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftDet.MaxWingSpan" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftDet.MaxWingSpan" class="form-control add-aircraft-input" />

                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.AirCraftDet.ManfacturedDate" class="add-aircraft-label"></label>
                        <input asp-for="@Model.AirCraftDet.ManfacturedDate" class="form-control add-aircraft-input" />

                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary add-aircraft-btn">Add Aircraft</button>
        </form>
    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#engineDropdown').change(function () {
                var selectedEngineId = $(this).val();
                console.log("hello")
                console.log('Selected EngineId: ' + selectedEngineId);

                $('#selectedEngineIdField').val(selectedEngineId);


            });

            $('#seatDropdown').change(function () {
                var selectedSeatId = $(this).val();
                console.log('Selected Seat: ' + selectedSeatId);

                $('#selectedseatIdField').val(selectedSeatId);


            });

            //adding images
            $('#images').change(function (e) {
                var files = e.target.files;
                if (files.length > 0) {
                    $('.add-aircraft-uploaded-image').each(function (index) {
                        if (index < files.length) {
                            var reader = new FileReader();
                            reader.onload = function (event) {
                                $(this).attr('src', event.target.result);
                            }.bind(this);

                            reader.readAsDataURL(files[index]);
                        }
                    });
                }
            });

            //delete a photo
            $('.add-aircraft-delete-image-btn').click(function () {
                var customValue = $(this).data('custom-value');

                $(`#${customValue}`).attr('src', '');
                
            });

        });
    </script>
}
