@model CartItemViewModel


<div>
    <h4>AirCraftModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.AircraftType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.AircraftType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.YearOfManufacture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.YearOfManufacture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.SeatingCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.SeatingCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.MaximumRange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.MaximumRange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.EngineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.EngineType.EngineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.MaxAllowedEngines)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.MaxAllowedEngines)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.FuelCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.FuelCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Seat.SeatID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.ItemCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.ItemCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.MaxSeatesAllowed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.MaxSeatesAllowed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.MaxWingSpan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.MaxWingSpan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.ManfacturedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.ManfacturedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft.AirCraftPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraft.AirCraftPrice)
        </dd>
    </dl>
</div>


<div>
    <button id="submit" class="btn btn-dark">Buy</button>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            


            $("#submit").on("click", function () {
                $.ajax({
                    url: '/cart/addtocart',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model))), 
                    success: function (data) {
                        // Handle success if needed
                    },
                    error: function (error) {
                        // Handle error if needed
                    }
                });
            });
        });
    </script>

}