@model RaythosAerospace.Models.Repositories.AirCraftRepository.AirCraftModel

<div>
    <h4>AirCraftModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatingCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatingCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineType.EngineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAllowedEngines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAllowedEngines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat.SeatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSeatesAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSeatesAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWingSpan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxWingSpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManfacturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManfacturedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AircraftId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
