@model ColorDTO

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Color Management";
}

<section>
    <form asp-action="ManageColors" method="post">
        <div class="container mt-4">
            <h2 class="display-4 mb-4">Color Management</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Color ID</th>
                        <th>Color Name</th>
                        <th>Color Availability</th>
                        <th>Color Price</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <!--form body-->
                <tbody>

                    @for (int i = 0; i < Model.Colors.Count; i++)
                    {

                        if (i == Model.Colors.Count - 1)
                        {
                            <tr>
                                <td><strong>Add a new Color</strong></td>
                            </tr>
                            <tr>
                                <td><input type="hidden" asp-for="@Model.Colors[i].ColorId" class="form-control" /></td>
                                <td><input asp-for="@Model.Colors[i].Color" class="form-control" /></td>
                                <td><input asp-for="@Model.Colors[i].availability" class="form-control" /></td>
                                <td><input asp-for="@Model.Colors[i].Price" class="form-control" /></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><input asp-for="@Model.Colors[i].ColorId" class="form-control" readonly /></td>
                                <td><input asp-for="@Model.Colors[i].Color" class="form-control" /></td>
                                <td><input asp-for="@Model.Colors[i].availability" class="form-control" /></td>
                                <td><input asp-for="@Model.Colors[i].Price" class="form-control" /></td>
                                <td><a href="/admin/DeleteColor?colorId=@Model.Colors[i].ColorId" class="btn btn-danger">Delete</a></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="3">
                            <button type="submit" class="btn btn-secondary">Save Changes</button>
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>
    </form>
</section>

