@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Manage Aircrafts Page";
}

@model AirCraftModel

<section>
    <div class="add-aircraft-management-container text-center mt-4">
        <!-- Title -->
        <h2 class="display-4 mb-4">Manage Aircraft</h2>

        <!-- Aircraft Form -->
        <form class="add-aircraft-form" method="post" enctype="multipart/form-data">



            <!--sgd-->

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AircraftId" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AircraftId" class="form-control add-aircraft-input"  readonly/>
                    <span asp-validation-for="@Model.AircraftId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AircraftType" class="add-aircraft-label"></label>
                    <select asp-for="@Model.AircraftType" class="form-control add-aircraft-input" asp-items="@(ViewBag.AircraftTypes as List<SelectListItem>)"></select>
                    <span asp-validation-for="@Model.AircraftType" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.AirCraftPrice" class="add-aircraft-label"></label>
                    <input asp-for="@Model.AirCraftPrice" class="form-control add-aircraft-input" />

                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.RegistrationNumber" class="add-aircraft-label"></label>
                    <input asp-for="@Model.RegistrationNumber" class="form-control add-aircraft-input" readonly />
                    <span asp-validation-for="@Model.RegistrationNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Manufacturer" class="add-aircraft-label"></label>
                    <input asp-for="@Model.Manufacturer" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.YearOfManufacture" class="add-aircraft-label"></label>
                    <input asp-for="@Model.YearOfManufacture" class="form-control add-aircraft-input" readonly />
                    <span asp-validation-for="@Model.YearOfManufacture" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.SeatingCapacity" class="add-aircraft-label"></label>
                    <input asp-for="@Model.SeatingCapacity" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.SeatingCapacity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.MaximumRange" class="add-aircraft-label"></label>
                    <input asp-for="@Model.MaximumRange" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.MaximumRange" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.EngineId" class="add-aircraft-label"></label>
                    <select id="engineDropdown" class="form-control add-aircraft-input">
                        <option value="">Select an Engine</option>
                        @foreach (EngineModel current in ViewBag.Engines)
                        {
                            <option value="@current.EngineId">@current.EngineType</option>
                        }
                    </select>
                    <input type="hidden" id="selectedEngineIdField" asp-for="@Model.EngineId" />

                    <span asp-validation-for="@Model.EngineId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.MaxAllowedEngines" class="add-aircraft-label"></label>
                    <input asp-for="@Model.MaxAllowedEngines" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.MaxAllowedEngines" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Weight" class="add-aircraft-label"></label>
                    <input asp-for="@Model.Weight" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.Weight" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Length" class="add-aircraft-label"></label>
                    <input asp-for="@Model.Length" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.Length" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Width" class="add-aircraft-label"></label>
                    <input asp-for="@Model.Width" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.Width" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Height" class="add-aircraft-label"></label>
                    <input asp-for="@Model.Height" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.Height" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.SeatID" class="add-aircraft-label"></label>
                    <select id="seatDropdown" class="form-control add-aircraft-input">
                        <option value="">Select an Seat</option>
                        @foreach (SeatModel current in ViewBag.Seats)
                        {
                            <option value="@current.SeatID">@current.SeatType</option>
                        }
                    </select>
                    <input type="hidden" id="selectedseatIdField" asp-for="@Model.SeatID" />

                    <span asp-validation-for="@Model.SeatID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.MaxSeatesAllowed" class="add-aircraft-label"></label>
                    <input asp-for="@Model.MaxSeatesAllowed" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.MaxSeatesAllowed" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.MaxWingSpan" class="add-aircraft-label"></label>
                    <input asp-for="@Model.MaxWingSpan" class="form-control add-aircraft-input" />

                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.FuelCapacity" class="add-aircraft-label"></label>
                    <input asp-for="@Model.FuelCapacity" class="form-control add-aircraft-input" />
                    <span asp-validation-for="@Model.FuelCapacity" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="@Model.ManfacturedDate" class="add-aircraft-label"></label>
                    <input asp-for="@Model.ManfacturedDate" class="form-control add-aircraft-input" readonly />
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary add-aircraft-btn">Save Changes</button>
        </form>
    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#engineDropdown').change(function () {
                var selectedEngineId = $(this).val();
                console.log("hello")
                console.log('Selected EngineId: ' + selectedEngineId);

                $('#selectedEngineIdField').val(selectedEngineId);


            });

            $('#seatDropdown').change(function () {
                var selectedSeatId = $(this).val();
                console.log('Selected Seat: ' + selectedSeatId);

                $('#selectedseatIdField').val(selectedSeatId);


            });
        });
    </script>
}
