@{ 

    Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Admin Registration";

}

@model AdminLoginDTO


<section class="container mt-4">
    <div class="admin-registration-container text-center">
        <h2 class="display-4 mb-4">Create an Account</h2>
        <form class="admin-registration-form" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="admin-registration-nicNumber">NIC Number<span class="text-danger">*</span></label>
                    <input asp-for="@Model.credintials.NIC" class="form-control admin-registration-form-input" id="admin-registration-nicNumber" placeholder="Enter your NIC number" required />
                    <span asp-validation-for="@Model.credintials.NIC" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="admin-registration-full-name">Full Name<span class="text-danger">*</span></label>
                    <input asp-for="@Model.credintials.FullName" class="form-control admin-registration-form-input" id="admin-registration-fullName" placeholder="Enter your full name" required />
                    <span asp-validation-for="@Model.credintials.FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="admin-registration-email">Email<span class="text-danger">*</span></label>
                    <input asp-for="@Model.credintials.Email" class="form-control admin-registration-form-input" id="admin-registration-email" placeholder="Enter your email" />
                    <span asp-validation-for="@Model.credintials.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="admin-registration-address">Address<span class="text-danger">*</span></label>
                    <input asp-for="@Model.credintials.Address" type="text" class="form-control admin-registration-form-input" id="admin-registration-address" placeholder="Enter your address" required>
                    <span asp-validation-for="@Model.credintials.Email" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Password<span class="text-danger">*</span></label>
                    <input asp-for="@Model.credintials.Password" class="form-control registration-form-input" type="password" id="password" placeholder="Enter a password" required />
                    <span asp-validation-for="@Model.credintials.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Confirm Password<span class="text-danger">*</span></label>
                    <input asp-for="@Model.confirmedPass" class="form-control registration-form-input" type="password" id="password" placeholder="Confirm your password" required />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>

