@model PaymentModel

@{
    IEnumerable<CartItemModel> items = ViewBag.CartItems;
    CartModel cart = ViewBag.Cart;
    Dictionary<string, AirCraftModel> aircrafts = ViewBag.AirCrafts;
    double totalprice = 0;
}


@foreach (AirCraftModel current in aircrafts.Values)
{
    string aircraftdesc = current.AircraftType;

    int count = 0;
    double price = 0;
    double unitprice = 0;

    foreach(CartItemModel model in items)
    {
        if (model.AirCraftId == current.AircraftId)
        {
            count++;
            price += model.UnitPrice;
            
        }
    }

    <div id="item-@current.AircraftId" class="cart-item">
        <h4>@aircraftdesc</h4>
        <p id="item-total-@current.AircraftId">Price: @current.AirCraftPrice</p>
        <!--unit price-->
        <input type="hidden" value="@(price/count)" id="item-price-@current.AircraftId" />
        <!-- Other item details you want to display -->
        <p id="item-count-@current.AircraftId">@count</p>
        <button class="btn btn-danger item-button-decrease-count" data-itemid="@current.AircraftId">-</button>
        <button type="button" class="btn btn-dark delete-item" data-itemid="@current.AircraftId">Delete</button>
    </div>

    totalprice += price;

}

<!-- Modal -->
<div class="modal" id="messageBox" tabindex="-1" role="dialog" aria-labelledby="messageBoxLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageBoxLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                <!-- Content from AJAX response will be placed here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h1 id="total-price">$ @totalprice</h1>

<form asp-action="Checkout" method="post">

    <div class="form-row">

        <input asp-for="@Model.Amount" type="hidden" value="@totalprice" />

    </div>
    <button type="submit" class="btn btn-secondary">Checkout</button>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {
            reduceItemCount();

            //removing the item from the cart
            $('.delete-item').click(function () {
                let itemId = $(this).data('itemid');
                console.log(itemId);
                
                $.ajax({
                    url: `/Cart/DeleteItem?itemid=${itemId}`, // Your delete endpoint
                    method: 'DELETE',
                    success: function (response) {

                        console.log(response);
                        //removes the item elements from the cart and displays a successfull message
                        if (response) {
                            $('#messageBoxLabel').text('Success Modal');
                            $('.modal-body').html('<p>Success: ' + response.msg + '</p>');
               
                        } else {
                            $('#messageBoxLabel').text('Error Modal');
                            $('.modal-body').html('<p>Error: ' + response.error + '</p>');
                        }

                        // Show the modal
                        $('#messageBox').modal('show');
                        $('#messageBox').on('hidden.bs.modal', function () {
                            // Reload the page when the modal is closed
                            location.reload();
                        });

                    },
                    error: function (error) {
                        $('#messageBoxLabel').text('Error Modal');
                        $('.modal-body').html('<p>Error: ' + error.message + '</p>');
                        $('#messageBox').modal('show');
                    }
                });
            });
        });


        function reduceItemCount() {
            $('.item-button-decrease-count').click(function () {

                var itemdata = $(this).data('itemid');

                console.log(itemdata);

                //getting the previous value and update the current count 
                let prevcount = parseInt($(`#item-count-${itemdata}`).text());

                if (prevcount == 1) {

                    //disabling the count reducing button
                    $(this).prop('disabled', true);

                }
                else {
                    //re-evaluating the total
                    $(`#item-count-${itemdata}`).text((prevcount - 1).toString());
                    let totalprice = parseFloat($('#total-price').text().slice(1, $('#total-price').text().length).trim());
                    console.log($(`#item-price-${itemdata}`).val());
                    totalprice -= parseFloat($(`#item-price-${itemdata}`).val())
                    $('#total-price').text('$ ' + totalprice.toString());

                    
                    //animating the element when removing
                    $(this).prop('disabled', true);
                    let itemdiv = $('#item-' + itemdata);
                    let currentclass = itemdiv.attr('class');
                    itemdiv.toggleClass('shakeElement');
                    let currentElement = $(this);
                    setTimeout(function () {
                        itemdiv.attr('class', currentclass);
                        currentElement.prop('disabled', false);
                    }, 850);

                    //update the database
                    //reduceCountDeleteAJAX(itemdata);
                }

            })
        }

        //reduces the item count
        function reduceCountDeleteAJAX(itemdata) {
            $.ajax(
                {
                    url: `/Cart/ReduceItemCount?itemid=${itemdata}`, // Your delete endpoint
                    method: 'DELETE',
                    success: function (response) {

                        console.log(response);


                    },
                    error: function (error) {
                        $('#messageBoxLabel').text('Error Modal');
                        $('.modal-body').html('<p>Error: ' + error.message + '</p>');
                        $('#messageBox').modal('show');
                    }
                });
        }

    </script>
}